.score {
  margin: 140px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  border: 10px solid rgb(8, 167, 87);
  color: rgb(8, 167, 87);
  font-family: 'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  /* The following properties are standard, please leave them as they are */
  font-size: 4rem;
  font-weight: 600;
  span {
    position: relative;
    color: #ffffff;
    font-size: 1.3rem;
    top: 12px;
  }
}
